<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rent or sell duinocoin hashing power.">
    <title>Duco Cloud - Buy Duinocoin mining in cloud</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Additional stuff -->
    <style>
        body {
            background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
        }

        .container {
            max-width: 960px;
        }

        .dash-header {
            max-width: 700px;
        }

        .dropdown-toggle {
            outline: 0;
        }

        .nav-flush .nav-link {
            border-radius: 0;
        }

        .scrollarea {
            overflow-y: auto;
        }


    </style>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <!-- Open Graph -->
    <meta property="og:title" content="Duco Cloud">
    <meta property="og:site_name" content="Duco Cloud">
    <meta property="og:url" content="https://cloud.furim.xyz">
    <meta property="og:description" content="Rent or sell duinocoin hashing power">
    <meta property="og:type" content="service">
    

</head>

<body>

    <div class="container py-3">
        <header>
            {% include 'navbar.html' %}

            <div class="px-4 pt-4 my-4 text-center border-bottom">
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    
                    <i class="bi bi-exclamation-triangle flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"></i>
                <div>
                      An server error occured! Please try again and if problem persists, please contact administrator.
                    </div>
               

        </header>

        {% include 'footer.html' %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>
