<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rent or sell duinocoin hashing power.">
    <title>Duco Cloud - Buy Duinocoin mining in cloud</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Additional stuff -->
    <style>
        body {
            background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
        }

        .container {
            max-width: 960px;
        }

        .dash-header {
            max-width: 700px;
        }

        .dropdown-toggle {
            outline: 0;
        }

        .nav-flush .nav-link {
            border-radius: 0;
        }

        .scrollarea {
            overflow-y: auto;
        }


    </style>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <!-- Open Graph -->
    <meta property="og:title" content="Duco Cloud">
    <meta property="og:site_name" content="Duco Cloud">
    <meta property="og:url" content="https://cloud.furim.xyz">
    <meta property="og:description" content="Rent or sell duinocoin hashing power">
    <meta property="og:type" content="service">
    

</head>

<body>

    <div class="container py-3">
        <header>
            {% include 'navbar.html' %}

            <div class="px-4 pt-4 my-4 text-center border-bottom">
                <h1 class="display-4 fw-bold">Cloud Duinocoin mining</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Use TRON cryptocurrency to buy Duinocoin mining power in the cloud!</p>
                    <div class="mb-5">
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" data-bs-toggle="modal" data-bs-target="#buyMiningPowerModal">
                                I want to earn DUCO!
                              </button>
                              <button type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="modal" data-bs-target="#sellMiningPowerModal">
                                I want to earn TRX!
                              </button>
       
                        </div>
                        <br/>   
                    </div>
                </div>
            </div>
        </header>
        
        <form action="{{ url_for("homepage")}}" method="post">
        <!-- mining power Modal -->
        <div class="modal fade" id="buyMiningPowerModal" tabindex="-1" aria-labelledby="buyMiningPowerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="buyMiningPowerModalLabel">Buy mining power </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <label for="offer_hash" class="form-label">Offer hash</label>
                    <div class="input-group mb-3">
                        <input type="text" id="offer_hash" name="offer_hash" class="form-control" placeholder="69defba907c2ff3d840b7d38d0am4og3us09681d8856247f7a">
                    </div>

                    <label for="priv_trx_key" class="form-label">Private TRX key</label>
                    <div class="input-group mb-3">
                        <input type="text" id="priv_trx_key" name="priv_trx_key" class="form-control">
                    </div>

                    <label for="trx_addr" class="form-label">TRX addr</label>
                    <div class="input-group mb-3"> 
                        <input type="text" id="trx_addr_buying" name="trx_addr_buying" class="form-control" placeholder="TLMBmrbQzuFJNf3ojAUCR8dAdiidaq2Lt4">
                    </div>

                    <label for="trx_addr" class="form-label">DUCO username</label>
                    <div class="input-group mb-3">
                        <input type="text" id="duco_usr_buying" name="duco_usr_buying" class="form-control" placeholder="moira">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success">Buy mining point</button>
                </div>
            </div>
            </div>
        </div>
        <!-- mining power modal end here -->
        
        <!-- sell mining power modal -->
        <div class="modal fade" id="sellMiningPowerModal" tabindex="-1" aria-labelledby="sellMiningPowerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="sellMiningPowerModalLabel">Sell mining power (create mining point)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <label for="duco_usr" class="form-label">Duinocoin username</label>
                    <div class="input-group mb-3">
                        <input type="text" id="duco_usr" name="duco_usr" class="form-control" placeholder="moira">
                    </div>

                    <label for="trx_addr" class="form-label">Your TRX address</label>
                    <div class="input-group mb-3">
                        <input type="text" id="trx_addr" name="trx_addr" class="form-control" placeholder="TLMBmrbQzuFJNf3ojAUCR8dAdiidaq2Lt4">
                    </div>

                    <label for="price_per_d" class="form-label">Price per day (in TRX)</label>
                    <div class="input-group mb-3"> 
                        <input type="text" id="price_per_d" name="price_per_d" class="form-control" placeholder="4">
                    </div>

                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                            You need to enter an email here that you have access to and is not associated with another duinocoin account. You can also use existing account as mining point <a href='/miningpoint_acc'>here</a>, but you will lose access to it
                        </div>
                      </div>
                    <label for="email_duco" class="form-label">Email for your (new) Duinocoin mining account</label>
                    <div class="input-group mb-3">
                        <input type="email" id="email_duco" name="email_duco" class="form-control" placeholder="myemail@apes.crabdance.com">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success">Create mining point</button>
                </div>
            </div>
            </div>
        </div>
        </form>
        <!-- end of modals -->
        <main>
            <div class="container px-4 py-5" id="icon-grid">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-2">
                    <div class="col d-flex align-items-start">
                        <i class="bi-code-slash text-muted flex-shrink-0 me-3" style="font-size: 1.75rem;"></i>
                        <div>
                            <h4 class="fw-bold mb-0">Open source</h4>
                            <p>Duco Cloud is completely open source.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi-link-45deg text-muted flex-shrink-0 me-3" style="font-size: 1.75rem;"></i>
                        <div>
                            <h4 class="fw-bold mb-0">Flexible pricing</h4>
                            <p>Pricing are set by miners that provide hashing power.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi-currency-euro text-muted flex-shrink-0 me-3" style="font-size: 1.75rem;"></i>
                        <div>
                            <h4 class="fw-bold mb-0">???</h4>
                            <p>profit</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container my-5">
                <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                    <div class=" p-3 p-lg-5 pt-lg-3">
                        <h6 class="display-6 fw-bold">Available mining points</h6>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Price per day</th>
                                        <th scope="col">Offer hash</th>
                                        <th scope="col">TRX</th>
                                        <th scope="col">Current hashrate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {%for i in range(0, len)%}
                                    <tr>
                                        <th>{{Pokemons[i]}}</th>
                                        <td>{{Pokemonzgud[i]}}</td>
                                        <td>{{Pokemonzhash[i]}}</td>
                                        <td>{{Pokemonemerde[i]}}</td> 
                                        <td>{{hashrate_array[i]}}</td> 
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    </div>
                
                </div>
            </div>

            <hr>

           

            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Duco Cloud is in alpha</h4>
                <p>That means, that the application is not yet 100% complete and may contain bugs. Please keep that in mind.</p>
            </div>

        </main>

        {% include 'footer.html' %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>
